.mobile{
    display: none;
}

@media(max-width:600px){
    .mobile{
        display:block;
    }

}
body{
 background-image: url('pics/bg.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 height: 100%;
 width: 100%;
}

.language-changer button{
    color: white;
    background-color: rgb(75, 75, 75,0.5);
    -webkit-text-stroke: 0.2px black;
    font-size: 18px;
    border-radius: 5px;
border: none;
    padding: 5px;
margin-top: 100px;
margin-left: 340px;
}

.language-changer button:active{
    background-color: rgb(220, 200, 200);

}
.me{
    background-color: brown;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
